<h1>Preencha o formulário:</h1>
    <form action="/lista_pacientes.handlebars" method="POST">
        <label>Local do Paciente</label>
        <select name="local">
            <option value="bela_vista">Unidade Bela Vista</option>
            <option value="Centro">Unidade Centro</option>
            <option value="bom_clima">Unidade Bom Clima</option>
          </select>
          <br><br>
          <label>Nome do Paciente</label>
         <input type="text" name="nome_paciente"><br><br>
         <label>RG</label>
         <input type="text" name="rg" size="13" maxlength="13">
         <label>CPF</label>
         <input type="text" name="cpf" size="9" maxlength="9">
         <br><br>
         <select name="genero">
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="nbinario">Não binário</option>
          </select>
          <label for="cep">CEP </label>
         <input type="text" name="cep" size="5" maxlength="5"> - <input type="text" name="cep2" size="3" maxlength="3">
          <br><br>
          <label>Logradouro</label>
          <input type="text" name="logradouro" value="{{edit.logradouro}}"><br><br>
          <label>Número</label>
          <input type="text" name="numero" size="5" value="{{dataValue.numero}}" maxlength="5">
          <label for="uf">UF</label>
          <select name="uf"> 
            <option value="ac1">Ac</option> 
            <option value="al1">Al</option> 
            <option value="am1">Am</option> 
            <option value="ap1">Ap</option> 
            <option value="ba1">Ba</option> 
            <option value="ce1">Ce</option> 
            <option value="df1">DF</option> 
            <option value="es1">Es</option> 
            <option value="go1">Go</option> 
            <option value="ma1">Ma</option> 
            <option value="mt1">Mt</option> 
            <option value="ms1">MS</option> 
            <option value="mg1">MG</option> 
            <option value="pa1">Pa</option> 
            <option value="pb1">Pb</option> 
            <option value="pr1">Pr</option> 
            <option value="pe1">Pe</option> 
            <option value="pi1">Pi</option> 
            <option value="rj1">RJ</option> 
            <option value="rn1">RN</option> 
            <option value="ro1">Ro</option> 
            <option value="rs1">RS</option> 
            <option value="rr1">Rr</option> 
            <option value="sc1">SC</option> 
            <option value="se1">Se</option> 
            <option value="sp1">SP</option> 
            <option value="to1">To</option>
   </select>
   <br><br>
   <label for="estado">Estado</label>
   <select name="estado"> 
    <option value="ac">Acre</option> 
    <option value="al">Alagoas</option> 
    <option value="am">Amazonas</option> 
    <option value="ap">Amapá</option> 
    <option value="ba">Bahia</option> 
    <option value="ce">Ceará</option> 
    <option value="df">Distrito Federal</option> 
    <option value="es">Espírito Santo</option> 
    <option value="go">Goiás</option> 
    <option value="ma">Maranhão</option> 
    <option value="mt">Mato Grosso</option> 
    <option value="ms">Mato Grosso do Sul</option> 
    <option value="mg">Minas Gerais</option> 
    <option value="pa">Pará</option> 
    <option value="pb">Paraíba</option> 
    <option value="pr">Paraná</option> 
    <option value="pe">Pernambuco</option> 
    <option value="pi">Piauí</option> 
    <option value="rj">Rio de Janeiro</option> 
    <option value="rn">Rio Grande do Norte</option> 
    <option value="ro">Rondônia</option> 
    <option value="rs">Rio Grande do Sul</option> 
    <option value="rr">Roraima</option> 
    <option value="sc">Santa Catarina</option> 
    <option value="se">Sergipe</option> 
    <option value="sp">São Paulo</option> 
    <option value="to">Tocantins</option>
    </select>
    <label>Status</label>
    <select name="status">
        <option value="ativo">Ativo</option>
        <option value="finalizado">Finalizado</option>
        <option value="transferido">Transferido</option>
      </select>
      <br><br>
         <button type="submit">Salvar edição</button>
        
        </form>